// theme color

$primary: (
  "50":  "#EEF5FC",
  "100": "#BAD7F2",
  "200": "#98C3EB",
  "300": "#539BDE",
  "400": "#427CB2",
  "500": "#325D85",
  "600": "#213E59",
  "700": "#0F283D",
);

$secondary: (
  "50": '#BAF2D5',
  "100": '#98EBC1',
  "200": '#75E5AC',
  "300": '#53DE97',
  "400": '#42B279',
  "500": '#32855B',
  "600": '#246042',
);

$warning: (
  "50" : '#FEF7B9',
  "100": '#FFDA6C',
  "200": '#FFB400',
  "300": '#E07C02',
  "400": '#C33E01',
);

$error: (
  "50" : '#FCD2CF',
  "100": '#F45532',
  "200": '#E23E1A',
  "300": '#C61A0B',
  "400": '#AE0A0A',
);

$neutral: (
  "50":   '#FFF',
  "100": '#F8F9FB',
  "200": '#EEF1F6',
  "300": '#E4E8EE',
  "400": '#CDD3DD',
  "500": '#9CA5B0',
  "600": '#6A7381',
  "700": '#49505A',
  "800": '#1F2329',
  "900": '#121417',
);



// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

// font sizes
$base-font-size: 1rem;